#friends-display-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  background-color: #fafafa;
  box-sizing: border-box;
  cursor: pointer;
}

#friends-display-link p {
  font-size: 1rem;
  margin: 0 0.5rem;
  color: #2e363e;
}

.friends-screen .user-component:first-child {
  margin-top: 1rem;
}

.friends-screen__channel {
  margin-top: 1rem;
  border-top: var(--main-border);
  padding-top: 1rem;
}

.friends-screen__channel-header {
  padding: 0 var(--horizontal-space);
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--grey-subtitle);
}
